#Iam{
    position: relative;
  animation: mymove 3s ;
  animation-timing-function: linear;
}
#Masood{
    position: relative;
  animation: mymove2 3s ;
  animation-timing-function: linear;
}
#Developer{
    position: relative;
  animation: mymove3 3s ;
  animation-timing-function: linear;
}
@keyframes mymove {
    from {top: -50px;}
    to {top: 5px;}
  }
@keyframes mymove2 {
    from {left: -50px;}
    to {left: 5px;}
  }
@keyframes mymove3 {
    from {bottom: -50px;}
    to {bottom: 5px;}
  }